
<div class="SideBar">
    @Html.ActionLink("Log a Known Allergy", "LogAllergy", null, new { @class = "ActionClass" }) | <br/>
    @Html.ActionLink("Search for a Food / Log a Meal", "FindFoodItem", null, new { @class = "ActionClass" }) | <br/>
    @Html.ActionLink("Search for a Restaurant", "FindRestaurant", null, new { @class = "ActionClass" }) | <br/>
    @Html.ActionLink("Leave a Comment About a Location", "LeaveComment", null, new { @class = "ActionClass" }) | <br/>
    @Html.ActionLink("Log a Reaction", "LogReaction", null, new { @class = "ActionClass" }) | <br/>
    @Html.ActionLink("View Your Current Allergen Stats", "AllergenStats", null, new { @class = "ActionClass" }) | <br/>
    @Html.ActionLink("Log an alcoholic drink", "LogAlcohol", null, new { @class = "ActionClass" }) | <br/>
</div>