@model AllergyFinder.Models.CustomerIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Log a Known Allergy", "LogAllergy") |
@Html.ActionLink("Search for an Allergen in a Food", "FindFoodItem") |
@Html.ActionLink("Search for a Restaurant", "FindRestaurant") |
@Html.ActionLink("Leave a Comment About a Location", "LeaveComment") |
@Html.ActionLink("Log a Meal", "LogMeal") |
@Html.ActionLink("Log a Reaction", "LogReaction") |
@Html.ActionLink("View Your Current Allergen Stats", "AllergenStats") |
@Html.ActionLink("Log an alcoholic drink", "LogAlcohol") |

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Food Name")
        </th>
        <th></th>

    </tr>
    @{
        if (Model != null && Model.retrievedFoods !=null)
        {
            foreach (var item in Model.retrievedFoods)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.ActionLink("Find Allergens", "FindFoodInfo", new { NDBNo = item.ndbno, route = 0})
                    </td>
                    <td>
                        @Html.ActionLink("Log This Food", "FindFoodInfo", new { NDBNo = item.ndbno, route = 1 })
                    </td>

                </tr>
            }
        }
    }


</table>
