@model AllergyFinder.Models.LocationComment
@{
    ViewBag.Title = "LeaveComment";
}

<div class="HomeHeader">
    <div class="Card">
        <h3>Leave a Location Comment</h3>
    </div>
</div>
   
<div class="row">
    <div class="col-md-3">
        @Html.Partial("_SideBarPartial")
    </div>
    <div class="col-md-8">
        <div class="Card">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(a => a.Latitude)
                @Html.HiddenFor(a => a.Longitude)
                <div class="form-horizontal">

                    <p>@Html.Label("Leave a Comment", htmlAttributes: new { @class = "control-label col-md-2" })</p>
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Comment, new { @class = "form-control" })
                        <input type="submit" value="Save" class="btn btn-default" />
                        <hr/>
                    </div>

                </div>
            }
            <hr />
            <div id="map"></div>
        </div>        
        <br />
        
        <script>
            var allMarkers = new Array(), j = 0, marker, coords = new Array();
            function initMap() {
                var i = 0, firstTime = true;
                var myLatLng = new google.maps.LatLng(43.037229, -87.9146);
                var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 13,
                    center: myLatLng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                })

                google.maps.event.addListener(map, 'click', function (event) {
                    if (j > 0) {
                        allMarkers[j - 1].setMap(null);
                    }
                    coords[i] = event.latLng.lat();
                    $('#Latitude').val(coords[0]);
                    coords[i + 1] = event.latLng.lng();
                    $('#Longitude').val(coords[1]);
                    placeMarker(event.latLng);
                });

                function placeMarker(location) {
                    marker = new google.maps.Marker({
                        position: location,
                        map: map
                    });
                    allMarkers[j] = marker;
                    j++;
                    map.setCenter(location);
                }
            }

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=@Keys.GoogleKey&callback=initMap"
                async defer></script>
    </div>
    <div class="col-md-2">
        <div class="Card">
            <h4>Click on a location on the map to leave a comment about it.</h4>
        </div>
    </div>
</div>
